<!DOCTYPE HTML>

<html lang="en" ng-app="todoApp">

<head>
  <title>Todo Test</title>
  <meta charset="UTF-8">
  <meta name="description" content="Todo App test for Robert Ramirez">
  <meta name="author" content="Todo App test using Robert Ramirez custom SASS Framework">
  <meta name="viewport" content="width=device-width, initial-scale=1">  <!--Only for responsive sites-->

  <!-- Framework Styles  -->
  <link rel="stylesheet" href="styles/normalize-min.css">
<!--  <link rel="stylesheet" href="assets/styles/fontawesome/css/font-awesome.min.css">-->

  <!-- Project Styles -->
  <link rel="stylesheet" href="styles/abstract.css">

  <!-- FONTS -->
  <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>

  <!-- JS -->
  <script src="scripts/modernizr-2.8.3.js"></script>
  <script src="scripts/jquery-2.1.4.min.js"></script>
  <script src="plugins/angular/angular.min.js"></script>
  <script src="scripts/todoapp.js"></script>
<!--  <script src="assets/scripts/jquery.sticky-kit.js"></script>-->

</head>

<body>

<div id="todo_title"><h1>TO DO APP</h1></div>

  <section id="todo">
    <div class="row" ng-controller="TodoListController as todoList">


<!-- New Todo Section -->
      <div id="todo_new">
        <form ng-submit="addItem()">
              <input type="text" ng-model="listItem" placeholder="Add New To Do"><input type="submit" value="+">
      </form>
    </div>


<!-- Todo List Section -->
      <div id="todo_list">
        <h2>Still Remaining</h2>
          <ul class="todo_listitems">
            <li ng-repeat="todo in todoList | filter: {completed:false}">
              <div>
                <span class="item_checkbox"><input type="checkbox" ng-model="todo.completed"/></span>
                <span class="item_text completed-{{todo.completed}}">{{todo.text}}<br /><span class="item_date"><em>{{todo.date | date: shortDate}}</em></span></span>
                <button ng-click="clearItem($index)" class="item_clear">&times;</button>
              </div>
            </li>
          </ul>

<ul class="todo_listitems">
  <h2>Completed Items</h2>
            <li ng-repeat="todo in todoList | filter: {completed:true}">
              <div>
                <span class="item_checkbox"><input type="checkbox" ng-model="todo.completed"/></span>
                <span class="item_text completed-{{todo.completed}}">{{todo.text}}</span>
                <!--<span class="item_date">{{todo.date | date: shortDate}}</span>-->
                <button ng-click="clearItem($index)" class="item_clear">&times;</button>
              </div>
            </li>
          </ul>
      </div>

<!-- Clear Section -->
<div id="clearrow">
  <button ng-click="clearList()" id="todo_clear">Clear List</button><br />
  Created by Robbie Ramirez
</div>

    </div>
  </section>

</body>

</html>
